.vs
.vscode
build
CMakeSettings.json
Darkest-Cave.vcxproj.user
/Debug
/CaveEditor/CaveEditor.vcxproj.user
/CaveEditor/Debug
/CaveEngine/CaveEngine.vcxproj.user
/CaveEngine/Debug
/CaveEngine/Release
/CaveSample/CaveSample.vcxproj.user
/CaveSample/Debug
out
Release
x64